<h1><%= @task.title %></em></h1>
<h2><%= @task.details %></h2>
<p><%= check_box("tag", tag.id, {checked: @task.completed}) %>This task is completed</p>
<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit this task", edit_path(@task.id) %>

